body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   
}
.carousel-item {
    max-height: 800px;
}

body[style*="background-image: url(images/other/flag.jpg)"]{
    background-position: center;
    background-attachment: fixed;
}

